.about-me2{
    /* padding-left: 15rem; */
    padding-top: 7rem;
    font-size: 2.25rem;
    color: #02ef63;
    font-weight:400;
    display: flex;
    justify-content: center;
    /* padding-right: 90rem; */
    
}


.html  {
    height: 7rem;
    padding: 3rem;
    border-radius: 0.4rem;
    border: 0.2rem solid #7a9cc0 ;
    /* padding: 2rem; */
    
    cursor: pointer;
}
.space{
    padding: 2rem;
}
.html:hover{
    
    border: 0.2rem solid #fccf0c ;
}
 
.html img{
    height: 5rem;
   
  }
 
 
.tool{
    color: white;
    font-size: 2rem;
    font-weight: 400;
    /* background-color: #fccf0c; */
    text-align: center;
    
    
}
 

.logos{
    padding-top: 7rem;
    /* background-color: #02ef63; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-toolbox{
    /* background-color: #02ef63; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.why-me{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}